.yw-integrationbackoffice-clone-modal-body {
    border-top: 1px solid #d5d8dc;
    border-bottom: 1px solid #d5d8dc;
    padding: 10px 20px 35px 20px;
}

.yw-integrationbackoffice-clone-modal-body .z-label {
    color: #7d899c;
    font-size: 12px;
}

.yw-integrationbackoffice-clone-modal-button {
    float: right;
    background-color: #fcdf2b;
    color: black;
    margin: 10px;
}

.yw-integrationbackoffice-clone-modal-button:hover {
    background-color: #ffeb08;
    color: black;
}

.yw-modal-cloneIntegrationObjectModal {
    min-width: 600px;
    max-height: 330px;
}